{namespace v=Tx_Vhs_ViewHelpers}
{namespace fc=TYPO3\Flexiblecontent\ViewHelpers}

<div class="YouTube">
	<iframe type="text/html" src="{settings.flexform.source}" frameborder="0" height="200"></iframe>
</div>