{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace fc=TYPO3\Flexiblecontent\ViewHelpers}

<div class="masonry-wrapper">

</div>

<script id="sitemap-json" type="sitemap/json">

	<f:format.raw>{jsonmap}</f:format.raw>

</script>

<script id="sitemap-template" type="text/x-handlebars-template">

  <div class="masonry-grid">
    {{#each items}}
      <div class="masonry-col {{#if @first}}masonry-sizer{{/if}}">
        <a href="{{url}}">
        <img src="{{randomImage}}" />
        </a>
        <div class="masonry-title">{{title}}</div>
      </div>
    {{/each}}
  </div>

</script>

<script type="text/javascript">

  var source   = $("#sitemap-template").html();
  var template = Handlebars.compile(source);
  var data = JSON.parse($('#sitemap-json').html());
  var newData = randomData(data);
  var html = template(newData);
  $('.masonry-wrapper').html(html);
  
  function randomData(input) {

    var orgData = input.items;
    var newData = {};


    for (i = 0; i < orgData.length; i++) { 
      var randomNumber = Math.floor((Math.random() * orgData[i].images.length-1) + 1);
      if (orgData[i].images.length > 1) {
        var randomImageURL = orgData[i].images[randomNumber];
        orgData[i].randomImage = randomImageURL;
      } else {
        orgData[i].randomImage = orgData[i].images[0];
      }
    }

    newData.items = orgData;
    return newData;
  }

</script>