{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace fc=TYPO3\Flexiblecontent\ViewHelpers}
<f:layout name="Default" />
<f:section name="main">
	<div class="slider">		
		<f:for each="{settings.flexContent}" as="object">
			<div class="slide">
				<f:for each="{object}" as="item" key="key" iteration="itemIteration">
				<fc:widget.picture src="{item.image}"></fc:widget.picture>
					<div class="container text">
						<f:if condition="{item.title}"><h1>{item.title}</h1></f:if>
						<f:if condition="{item.text}"><p><f:format.nl2br>{item.text}</f:format.nl2br></p></f:if>
					</div>
				</f:for>
			</div>
		</f:for>
	</div>
</f:section>