{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace socialgraph=BOROS\Socialgraph\ViewHelpers}

<f:layout name="Default" />
<f:section name="main">
<div class="socialgraph shareicons">
	<socialgraph:share.email title="<f:translate key='shareTextEmail' />" class="social-icon mail inline-mail" subject="{pageObj.txSocialgraphOgtitle}" body="{pageObj.txSocialgraphOgdescription}"><i class="demo-icon icon-mail"></i></socialgraph:share.email>
	<socialgraph:share.facebook title="<f:translate key='shareTextFacebook' />" class="social-icon facebook"><i class="demo-icon icon-facebook"></i></socialgraph:share.facebook>
	<socialgraph:share.twitter title="<f:translate key='shareTextTwitter' />" class="social-icon twitter" body="Museum Frieda Burda"><i class="demo-icon icon-twitter"></i></socialgraph:share.twitter>
</div>
</f:section>